absl-py
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
backcall
beautifulsoup4
bitarray
bitstring
bleach
blinker
Bootstrap-Flask
cachetools
certifi
cffi
charset-normalizer
click
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
dm-tree
dominate
ecdsa
esptool
executing
fastjsonschema
Flask
flask-bootstrap5
flatbuffers
fonttools
fqdn
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
imageio
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpoint
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
kiwisolver
lazy_loader
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
overrides
packagin
panda
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pycryptodome
Pygments
pyparsing
pyserial
python-dateutil
python-dotenv
python-json-logger
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
QtPy
reedsolo
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rncryptor
rpds-py
rsa
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tifffile
tinycss2
tornado
traitlets
typing_extensions
tzdata
uri-template
urllib3
visitor
wcwidth
webcolor
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
WTForms